database:
  enabled: false
  host: localhost
  port: 5432
  user: user
  password: password
  dbname: notedb
logging:
  level: INFO
  format: "[%(asctime)s] [%(levelname)s] [%(name)s] %(message)s"
server:
  port: 8000
